<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/im_budget"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name=".BudgetActivity"
            android:label="@string/title_activity_budget"></activity>
        <activity
            android:name=".ExpenseActivity"
            android:label="@string/title_activity_expense"></activity>
        <activity
            android:name=".IncomeActivity"
            android:label="@string/title_activity_income"></activity>
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_activity_reports"></activity>
        <activity
            android:name=".ResetActivity"
            android:label="@string/title_activity_reset"></activity>
        <activity
            android:name=".SummaryActivity"
            android:label="@string/title_activity_summary"></activity>
        <activity
            android:name=".ReportsIncomeActivity"
            android:label="Income Report"></activity>
        <activity
            android:name=".AppSettingsActivity"
            android:label="Settings"></activity>
    </application>

</manifest>